/* Contact Us Page Style */
.contact-us {
    margin: auto auto auto auto;
    width: 50%;
    /*border: 3px solid #364f65;*/
    padding: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.contact-form button {
    outline: none;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border: none;
    background-color: #364f65;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    transition: all 0.5s;
}

.contact-form button:hover {
    background-color: #607791;
    color: #75ce3f;
}
