.top_right {
    position: fixed;
    top: 0;
    right: 0;
    border: 3px solid #364f65;
    padding: 10px;
}

.top_left {
    display: block;
    top: 5px;
    left: 5px;
    width: 30%;
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #364f65;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
}

.grid-container {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 200px 250px;
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 20px;
    justify-content: space-evenly;
    align-content: stretch;
}


.button {
    transition-duration: 0.4s;
    background-color: #364f65;
    color: white;
    border: none;
    padding: 30px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    width: 250px;
    height: 100px;
    font-family: Calibri, sans-serif;
}

.button:hover {
    background-color: #708aa2; /* Green */
    color: #75ce3f;
}